.rbc-header{
    background-color: rgb(255, 255, 255);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.rbc-time-header-cell .rbc-today {
    background-color: #d5f1ea;
}

.rbc-today {
    background-color: #edf7f1;
} 

.rbc-day-slot .rbc-events-container {
    margin-right:2px;
}

.rbc-allday-cell{
    display: none;
}

.rbc-event-label {
    padding-top: 4px;
    padding-bottom: 4px;
}

.rbc-calender {
    border-radius: 16px;
    border: none;
}

.rbc-time-view {
    border-radius: 8px;
}

.rbc-button-link {
    font-weight: 400;
    font-size: 18px
}

.rbc-current-time-indicator {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #74ad31;
    pointer-events: none;
}