.search-results {
  margin-top: 1rem;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

/* Table layout */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Lexend", sans-serif;
  font-size: 15.5px;
  font-weight: 350;
}

/* Header */
.custom-table thead {
  background-color: #f8f9fa;
}

.custom-table th {
  text-align: left;
  padding: 1em 1.5em;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #eee;
  /* white-space:; */
}

/* Rows */
.custom-table td {
  padding: 1em 1.5em;
  border-bottom: 1px solid #f1f1f1;
  color: #000000;
}

/* Hover effect for rows */
.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-table tbody tr.clickable-row:hover {
  background-color: #eeffee;
}

/* Optional: subtle striped effect */
.custom-table tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
