:root {
  --connector-size: 0.75rem;
  --btn-border-radius: 0.25rem;
}

.course-tree-container {
  width: 40em;
  display: flex;
  align-items: center;
  /* Leave some space for the tooltip */
  padding: 3rem 0;
  justify-content: center;
  margin: 0 auto;
}

.tree,
.subsection-container {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0.125rem 0;
  text-align: center;
}

.node {
  position: relative;
  display: flex;
  flex: 0 1 4rem;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.4rem;
  margin: 0 0 2px var(--connector-size);
  border-radius: var(--btn-border-radius);
  white-space: nowrap;
}

.node::before {
  top: 50%;
  left: calc(-1 * var(--connector-size));
  width: var(--connector-size);
  height: 1px;
  content: '';
  position: absolute;
  background: #b8b8b8;
}
/* 
.link {
  display: block;
  width: 100%;
  color: currentColor;
}

.link:hover {
  color: currentColor;
} */

.node::before,
.conditional::after,
.branch::before,
.branch::after {
  content: '';
  position: absolute;
  background: #b8b8b8;
}

.conditional {
  flex: 0 0 auto;
  margin-right: var(--connector-size);
  border: 0;
}

.conditional::after {
  top: 50%;
  right: calc(-1 * var(--connector-size));
  width: var(--connector-size);
  height: 1px;
  content: '';
  position: absolute;
  background: #b8b8b8;
}

.branch {
  position: relative;
  display: flex;
  align-items: center;
}

.branch::before,
.branch::after {
  left: 0;
  width: 1px;
  height: 50%;
  content: '';
  position: absolute;
  background: #b8b8b8;
}

.branch::before {
  top: 0;
}

.branch::after {
  bottom: 0;
}

.branch:first-child::before,
.branch:last-child::after {
  display: none;
}

.prereq-branch::before,
.prereq-branch::after {
  right: 0;
  left: auto;
}

.postreq-node {
  color: #291b5a;
  background-color: #beaff5;
  margin: 0 var(--connector-size) 1px 0;
  flex: 0 1 6em;
  border-color: 8C7BC9#6f53d4;
}

.postreq-node::before {
  right: calc(-1 * var(--connector-size));
  left: auto;
  content: '';
  position: absolute;
  background: #b8b8b8;
}

.course-node {
  border-color: #e77cae;
  color: #412246;
  background-color: #ddb5dd;
  margin-left: 0;
}

.course-node:only-child::before {
  display: none;
}

.prereq-node {
  border-color: #38bdbd;
  color: #102525;
  background-color: #8dc7c7;
}
