.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
  max-width: 1000px;
}

/* 
  background-color: #eeebf3; 
  padding: 0.5rem;
  border-radius: 8px;*/
