@import "tailwindcss";

@theme {
  --color-off-white: #F4F3F2;
  --color-off-black: #0A2342;
  --color-light-green: #9ED7A2;
  --color-dark-green: #2D8B73;
  --color-accent-purple: #9262F4;
  --color-dark-purple: #6553A6;
  --color-dark-blue: #0A2342; 
  --color-error-red: #E14C4C; 
  --color-red-hover: #a83838; 
}


:root {
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.react-flow__handle {
  visibility: hidden;
  /* background-color: rgba(143, 83, 255, 0.986) !important; */
  /* border: none !important; */
}
